
@{
    ViewBag.Title = "AuthentificationAdel";
    Layout = "~/Areas/Adel/Views/Shared/_Layout.cshtml";
}


<div class="welcome">
    <h1>
        <span>
            @ViewBag.Welcome
            <br>
            <div class="clockpage">
                <span id="clock"></span>
                <span id="dayOfWeek"></span>
            </div>
        </span>
    </h1>
</div>




