@{
    ViewBag.Title = "Home Page";
}
@section Main{
<div class="jumbotron glyphicon-apple" >
    <p class="main">Адель</p><br>
    <p class="main">Ты очень вкусно готовишь...</p><br>
    <p class="main">А еще ты очень милая...</p><br>
    <p class="main">Цмок в щечку!</p><br>
    <p class="main">Я верю в тебя, ты умничка!</p><br>
</div>
    }

@section footer
{
    <div>
        <p>@Html.Action("DateNow")
    </div>
}