global
    log stdout format raw local0
    maxconn 2048

defaults
    mode    tcp
    log     global
    option  tcplog
    timeout connect 5s
    timeout client  300s
    timeout server  300s

# Входы
frontend pg_rw
    bind 0.0.0.0:6432
    default_backend be_rw

frontend pg_ro
    bind 0.0.0.0:6433
    default_backend be_ro

# Бэкенды (HAProxy видит Postgres по именам сервисов в одной сети)
backend be_rw
    option pgsql-check user "user1"
    server pg1 postgres1:5432 check

backend be_ro
    balance roundrobin
    option pgsql-check user "user1"
    server pg2 postgres2:5432 check
    server pg3 postgres3:5432 check
