@{
    ViewBag.Title = "Рубин";
}

@section roof
{
    <div class="description">
       
        <img src="~/Content/rubin-v2.png">
        <br />
        <h2>Авторство начинающего писателя - Адель Кауф</h2>
        <br />
        <h2>Новая глава уже вышла!   @Html.RouteLink("Читайте первыми!", new { Action = "RedirectBook", Controller = "Home" })</h2>
        <br />
        <h2>Жанр: Мистика</h2>
        <br />
        <h2>Рейтинг: PG-13</h2>
        <br />
        <h2>Предупреждение: Содержит элементы жестокости</h2>
        <br />
        <h2>Статус: В процессе. Каждый месяц новая глава.</h2> <br />
        <h2> Не упусти возможности прочитать ее первым!</h2><br />
    </div>
}

@section slides
{
    <div class="slide">
        <header>АННОТАЦИЯ</header>
        <p>Люди жаждут познать неизведанное</p> <br />
        <p>Но сталкиваясь с ним лицом к лицу</p> <br />
        <p>Зачастую предпочитают отвернуться <br /> Руководствуясь «совпадениями» и «случайностями».</p><br />
        <p>В отличие от них Агата Блум лишь шире открывает глаза и сильнее навостряет слух. 
        Ее любопытство, жажда знаний и непоколебимое хладнокровие привели в итоге к тому, 
        что теперь ее семье приходится переезжать из столицы в захолустный городок, 
        полный суеверных людей и старо-англиканской архитектуры</p>
        <br />
        <p>Однако встречают девушку не уныние и скукота провинциальной жизни,
        а явления несвойственные реальности людей. 
        Странноватая женщина в крылатой шляпе, всеобщее поклонение Культу Кошек, 
        ведьмовское семейство, что живет на Кривом Холме, 
        труп ребенка на берегу моря… и ведь еще не обед!</p>
        <br />
        <p>Но даже тьма, пропитавшая эти земли насквозь, 
        может позавидовать прошлому, что так тщательно скрывает девушка 
        с, до омерзения, уродливыми руками...</p>
    </div>

}
@section footer 
{
    <div class="megaFooter"> Create by - Dmitriy Myagkow <br /> @DateTime.Now.Year</div>
    }

